APP_PORT=8989

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=expense_tracker_db

JWT_ACCESS_SECRET=your_secret_access_key
JWT_REFRESH_SECRET=your_secret_refresh_key

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-5.3-chat-latest